let mapleader = ',' 
let g:mapleader = ','

set smartcase
set visualbell
set noerrorbells
set relativenumber
set number
"get out of edit mode
imap jk <esc>
imap kj <esc>
nmap ; :
"""""""""""""""
"Faster editing
"""""""""""""""
"change word case
nmap <Leader>c viw~ 
"replace line
nmap <Leader>rl pk"_dd
"replace word
nmap <Leader>rw "_diwP
"paste register 0
nmap <Leader>p "0p
nmap <Leader>P "0P
