let mapleader = ',' 
let g:mapleader = ','

set ignorecase

set visualbell
set noerrorbells
set relativenumber
set number
"get out of edit mode
imap jk <esc>
imap kj <esc>
nmap ; :
"""""""""""""""
"Faster editing
"""""""""""""""
"change word case
nmap <Leader>c viw~ 
"replace line
nmap <Leader>rl pk"_dd
"replace word
nmap <Leader>rw "_diwP
"replace selected 
vmap <Leader>rw "_dP
"paste register 0
nmap <Leader>p "0p
nmap <Leader>P "0P


"intellij short cuts
nmap <Leader>f :action ReformatCode<CR>
nmap <Leader>rr :action Rerun<CR>
nmap <Leader>b :action JumpToLastChange<CR>
nmap <Leader>rc :action CompileDirty<CR>
nmap <Leader>rf :action Compile<CR>
nmap <Leader>j :action InsertLiveTemplate<CR>
nmap <Leader>k :action CheckinProject<CR>
nmap <Space>n :action NewClass<CR>
nmap ] :action MethodDown <CR>
nmap [ :action MethodUp <CR>
nmap <Space>vs :source ~/.ideavimrc<CR>
nmap <Space>b :action Git.Branches <CR>
